.btn {
    font-weight: 600;
    color: $black;
    background-color: rgba($black, 0);
    border: 2px solid $black;
    
    &:hover {
        color: $white;
        background-color: $black;
        border: 2px solid $black;
    }

    &__extend {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }    
    }

    @include media-breakpoint-down(sm) {

    }
}