// Card-types

.card {
    &__newsitem {
        display: block;
        color: $black;
        background-color: none;
        margin-bottom: 7rem;
        
        @include media-breakpoint-down(sm) {
            margin-bottom: 4rem;
        }
        
        h3 {
            display: inline;
            color: $black;
            transition: .25s;
        }

        &:hover {
            text-decoration: none;

            h3 {
                border-bottom: 1px solid $black;
            }
        }
    }
    &__person {
        display: flex;

        &--wrapper {
            margin-top: 6rem;
            
            &:nth-child(1), &:nth-child(2) {
                margin-top: 0;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 4rem;
                
                &:nth-child(2) {
                    margin-top: 4rem;
                }
            }
        }

        &--image {
            width: 17.5rem;
            margin-right: 2.7rem;
        }
        &--info {
            align-self: center;
            line-height: 1.2;
        }
    }
    &__category {
        margin-bottom: 2rem;
        background-color: $white;
        transition: .25s;
        
        &--body {
            padding: 3rem 5rem 3rem;
            text-align: center;
            
            @include media-breakpoint-down(sm) {
                padding: 3rem 2rem 3rem;
            }    
        }

        &--image {
            background-color: $black;

            img {
                transition: .25s;
            }
        }
        
        &:hover {
            box-shadow: 0 0 15px 0 rgba($black, .15);
            
            .card__category--image {
                img {
                    opacity: .7;
                }
            }
            .card__category--body {
                .btn {
                    background-color: $black;
                    color: $white;
                }
            }
        }

    }
}