// Typo
html {
    @include media-breakpoint-down(md) {
        font-size: 60%;
    }
    @include media-breakpoint-down(sm) {
        font-size: 57.5%;
    }    
}

p {
    font-size: $font-size-base * 2.2;

    &:last-child {
        margin-bottom: 0;
    }
}

strong {
    text-transform: uppercase;
}

.text {
    &__divider {
        position: relative;
        display: inline-block;
        width: 8.8rem;
        height: .3rem;
        background-color: $black;
        text-align: center;
        margin: 3rem 0;
    }
    &__newstag {
        font-size: 1.4rem;
        font-weight: bold;
        color: $red;
        margin-top: 2rem;
    }
}

ul, ol {
    padding-left: 2.4rem;
    margin-bottom: 3rem;
    &:last-child {
        margin-bottom: 0;
    }

    li {
        font-size: 2.2rem;
    }
}

.blockquote {
    margin-bottom: 0;
    &__line {
        display: block;
        height: .3rem;
        width: 100%;
        margin-top: 1rem;
        background-color: $black;

    }
    &__text {
        font-size: 2.8rem;
        line-height: 1.35;
        font-weight: 600;
    }
}

figure {
    margin: 0;
}

figcaption, .caption {
    font-size: 1.6rem;
    margin-top: 1rem;
}

*::selection {
    background: $secondary;
}