.header, .header__overlay  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $body-header-height;
    top: 0; left: 0; right: 0;
    
    @include media-breakpoint-down(sm) {
        height: $body-header-height - 2.5;
    }
}

.header {
    position: fixed;
    background-color: $white;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.15);
    z-index: $zindex-fixed;

    &__logo {
        display: inline-block;
        position: relative;
        width: 40rem;
        line-height: 0;
        font-weight: bold;
        width: 40rem;
        
        &:hover {
            text-decoration: none;
            color: inherit;
        }
        @include media-breakpoint-down(lg) {
            width: 36rem;
        }
        @include media-breakpoint-down(md) {
            width: 32rem;
        }
        @include media-breakpoint-down(sm) {
            width: 26rem;            
        }
    }
    
    &__overlay {
        margin-bottom: 5rem;

        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
    }
}

