.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $body-header-height;
    background-color: $white;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.15);
    top: 0; left: 0; right: 0;
    z-index: 1040;

    h1 {
        display: inline-block;
        font-size: 3.4rem;
        font-weight: bold;
    }
}