.hero {
    &__home {
        height: calc(100vh - 30rem);
        margin-bottom: 25.5rem;

        &--text {
            padding-top: 4.4rem;
            margin-top: -17rem;
            
            @include media-breakpoint-down(md) {
                margin-top: -14.4rem;
            }
        }
    }
    &__news {
        padding-top: 15rem;
        padding-bottom: 8rem;

        &--text {
            padding-bottom: 8rem;
        }
    }
}