.hero {
    &__home {
        margin-bottom: 0rem;
        
        &--img {
            height: calc(100vh - 34rem);
            
            @include media-breakpoint-down(sm) {
                height: 25rem;
            }
            @media only screen and (max-heigh: 600px) {
                height: 60rem;
            }
        }

        &--text {
            position: relative;
            display: block;
            padding-top: 4.4rem;
            margin-top: -17rem;
            
            @include media-breakpoint-down(md) {
                margin-top: -14.4rem;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 0;
            }
        }
    }
    &__news {
        padding-top: 15rem;
        padding-bottom: 8rem;
        
        &--image {
            display: block;
            margin-top: 8rem;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 11rem;
            padding-bottom: 4rem;

            &--image {
                margin-top: 4rem;
            }
        }
    }
    &__category {
        padding-top: 8rem;
        padding-bottom: 8rem;
        @include media-breakpoint-down(sm) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }
}