.container-fluid {
    max-width: 1440px;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    
    @include media-breakpoint-down(sm) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

.section {
    padding-bottom: 8rem;

    // Sections with background color
    &__news, &__category {
        padding-top: 8rem;
        padding-bottom: 8rem;
        margin-bottom: 8rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__category {
        padding-bottom: 6rem;
        background-color: $yellow;
    }
    
    // Sections default
    &__text {}
    &__banner {}

    &__gallery {
        padding-bottom: 6rem;
    }
    
    @include media-breakpoint-down(sm) {
        padding-bottom: 4rem;

        &__news, &__category {
            padding-top: 4rem;
            padding-bottom: 4rem;
            margin-bottom: 4rem;
            
        }

        &__gallery, &__category {
            padding-bottom: 2rem;
        }
    }
}